<!DOCTYPE html>
<html>
  <head>
      <title><%= @title %></title>
  </head>
  <body>
  <form method="POST" action="/load" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" value="Enviar" />
  </form>
  </body>
</html>

